<% provide(:title, 'All articles') %>                                                                                                                


<%= will_paginate %>

  <div class="col-md-8">
    <% if @articles.any? %>
      <ol class="microposts">
        <ul class="articles">
					<%= render(@articles) %>
				<ul>
      </ol>
    <% end %>
  </div>
</div>
