<ul class="show_finded_users">
  <li>
    <%= image_tag user.avatar.url(:thumb), class: "img-circle" %>
    <label><%= user.name %></label>
    <div class="find_user_status">
      <%= button_to "show", user, method: :get, class: "btn btn-default" %>
    </div>
  </li>
</ul>
