@import "bootstrap-sprockets";
@import "bootstrap";


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* show_find_users */
.find_users{
  .img-circle{
    width: 50px;
    height: 50px;
  }
  li{
    list-style: none;
  }
  .find_user_status{
    margin-left: 40em;
  }
}

/* header */
.find_user{
  .form-control{
    width: 10em;
    margin-top: 10px;
  }
  .btn-default{
    margin-left: 33em;
    margin-top: -85px;
    width: 10em;
  }
}

.user_status{

  .navbar-right{
    margin-top: -85px;
  }
}


/* articles */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    list-style: none;
  }
  a{
    font-size: 30px;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* button */

.btn-group{
  margin-left: 375px;
  margin-top: 25px;
}

#user_avatar{
  width: 200px;
}
//


/* picture */

.user_info{
  margin-top: 30px;
  .form-control{
    width: 20em;
    margin-left: 30em;
  }
  label{
    margin:0;
    margin-left: 30em;
  }

  .update_photo{
    margin-left: 35em;
    margin-top: -20px;
  }
  img{
    margin-left: 25em;
  }
  .btn-default{
    width: 15em;
    margin-left: 33em;
  }
}

/* font */

.user_attribute{
  a{
    margin-left:20px;

  }
  color: #cccccc;
  text-align: center;
}

.user_setting{
  font-family: Georgia, serif;
  font-size: 50px;
  color: #cccccc;
  font-weight: bold;
  text-align: center;
}

.ad-title{
	font-family: Georgia, serif;
	font-size: 80px;
  color: #B038;
  font-weight: bold;
}

.ad-subtitle{
  font-size: 20px;
  color: #B038;
}

/* form */

.new_article{
  margin-top: 120px;
  label{
    margin-left: 350px;
  }

  input{
    // margin-top: 30px;
  }

  ul li{
    list-style-type:none;
  }
  .area-default{
    width: 333px;
    height: 170px;
  }
}

.form_row{
  margin-top: 100px;
  overflow-y: auto;
  p{
    margin-left: 350px;
    margin-top: 20px;
  }
  label{
    margin-left: 280px;
    margin-top: 0px;
  }
  background-color: transparent;
}

.checkbox{
  margin-top: -10px;
  margin-bottom: 10px;
  span{
    margin-left: 30px;
    font-weight: normal;
  }
}

input, .form-control{
  width: 60%;
  margin-left: 280px;
  margin-top: 0;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 30%;
  margin-left: 350px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

