@import "bootstrap-sprockets";
@import "bootstrap";


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* other_user */

.show_other_user{
  label{
    margin-left: 20px;
  }
}

#follow_btn{
  margin-left: -3em;
  width: 15em;
  margin-top: 10px;
}

.user_articles{
  margin-left: 14em;
  margin-top: -13em;
}

.will_page{
  margin-left: 17em;
  margin-bottom: 14em;
  margin-top: -13em;
}
/*  */
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

/* show_find_users */
.find_users{
  .img-circle{
    width: 50px;
    height: 50px;
  }
  li{
    list-style: none;
  }
  .find_user_status{
    margin-left: 40em;
  }
}

/* header */
.find_user{
  .form-control{
    width: 10em;
    margin-top: 10px;
  }
  .btn-default{
    margin-left: 33em;
    margin-top: -85px;
    width: 10em;
  }
}

.user_status{

  .navbar-right{
    margin-top: -85px;
  }
}

/* like it */

.like{
  a{
    color:white;
    text-decoration:none;
  }
  .glyphicon-heart{
    font-size: 100px;
    color: #cccccc;

    &:active{
      color: red;
    }
  }
}

/* articles */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    list-style: none;
  }
  a{
    font-size: 30px;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span　.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* yue 1 */


/*.icono-search-button:before{*/
/*position:absolute;*/
/*width:5px;*/
/*height:5px;*/
/*top:-10px;*/
/*left:-100px;*/
/*border:2px solid;*/
/*}*/
.add_comment{
  margin-top: 80px;
}
.main_article {
    position: relative;
    width: 1024px;
    margin: 0 auto;
  
  .passage {
    position: relative;
    display: inline-block;
    width: 800px;
    top: 4px;
    float: left;
    color: #fff;
    // box-shadow: 3px 3px 2px #3f3f3f;
    background-color: #eeeeee;
    
    .passage-title {
      padding: 20px 0;
      background: #eeeeee;
      text-align: left;
      color: #111111;
      font-size: 20px;
      margin-left: 10px;
      // margin-top: 3px;
    }

    .img-circle{
      height: 60px;
      width: 60px;
      margin-left: 50em;
      margin-top: -8em;
      &:hover{
        height: 160px;
        width: 160px;
      }
    }
  }

  .passage-content {
    background: #ffffff;
    padding: 30px 40px;
    text-indent: 2em;
    color: #ccccee;
  }

  .passage-content p {
    padding: 10px 0;
  }
}

.show_article_fixed{
   position: fixed;
   top: 15em;
   left: 18em;
}

.other-passage-list {
    position: absolute;
    display: inline-block;
    width: 218px;
    left: 805px;
    top: 4px;
    color: #fff;
    // box-shadow: 3px 3px 2px 0 #5a5a5a;
}

.other-passage-list p {
    background: #363636;
    height: 30px;
    line-height: 30px;
    text-indent: 1em;
    font-size: 16px;
}

.icono-list {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 9px;
    left: 2px;
    border: 2px solid;
    transform: skew(-10deg, 10deg) rotate(35deg) scale(0.9);
    border-left: none;
    border-bottom: none;
}

.other-passage-list ul {
    list-style-type: none;
    text-decoration: none;
    background: #3f3f3f;
    padding: 0 0 10px;
}

.other-passage-items a {
    display: block;
    padding: 7px 10px 0 30px;
    text-decoration: none;
    color: #fff;
}

.message-input {
    position: relative;
    clear: both;
    width: 1024px;
    margin: 0 auto;
    top: 8px;

  h2 {
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
}


.message-text {
    width: 1024px;
    height: 200px;
    border: 1px solid #aaa;
    border-radius: 2px;
    font-size: 18px;
    margin-left: 0px;
}

.message-submit {
    display: inline-block;
    width: 100px;
    height: 30px;
    float: right;
    background: #353535;
    border: none;
    color: #fff;
}

.message-list {
    position: relative;
    top: 50px;
    width: 1024px;
    margin: 0 auto;
    background: #363636;
    color: #fff;
}

.message {
    border-bottom: 1px solid yellow;
    margin-top: 20em;
    background-color: red;
}

.message-information img {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 90px;
    margin:10px;
    border-radius:50%;
}

.message-information a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: -90px;
    left:110px;
    color:#fff;
}
.message-time{
    position:relative;
    top:-90px;
    right:-12%;
}

.message-content{
    position: relative;
    display: inline-block;
    width:800px;
    border-top:1px dashed;
    top:-80px;
    left:110px;
    padding-top: 10px;
}
.message-floor{
    position: relative;
    display: inline-block;
    background:#3f3f3f;
    padding: 2px;
    width: 50px;
    top:-131px;
    left:94.7%;
    text-align:center;
}

/* button */

.btn-group{
  margin-left: 375px;
  margin-top: 25px;
}

#user_avatar{
  width: 200px;
}
//


/* picture */

.user_info{
  margin-top: 30px;
  .form-control{
    width: 20em;
    margin-left: 30em;
  }
  label{
    margin:0;
    margin-left: 30em;
  }

  .update_photo{
    margin-left: 35em;
    margin-top: -20px;
  }
  img{
    margin-left: 25em;
  }
  .btn-default{
    width: 15em;
    margin-left: 33em;
  }
}

/* font */

.user_attribute{
  a{
    margin-left:20px;

  }
  color: #cccccc;
  text-align: center;
}

.user_setting{
  font-family: Georgia, serif;
  font-size: 50px;
  color: #cccccc;
  font-weight: bold;
  text-align: center;
}

.ad-title{
	font-family: Georgia, serif;
	font-size: 80px;
  color: #B038;
  font-weight: bold;
}

.ad-subtitle{
  font-size: 20px;
  color: #B038;
}

/* form */

.new_article{
  margin-top: 120px;
  label{
    margin-left: 350px;
  }

  input{
    // margin-top: 30px;
  }

  ul li{
    list-style-type:none;
  }
  .area-default{
    width: 333px;
    height: 170px;
  }
}

.form_row{
  margin-top: 100px;
  overflow-y: auto;
  p{
    margin-left: 350px;
    margin-top: 20px;
  }
  label{
    margin-left: 280px;
    margin-top: 0px;
  }
  background-color: transparent;
}

.checkbox{
  margin-top: -10px;
  margin-bottom: 10px;
  span{
    margin-left: 30px;
    font-weight: normal;
  }
}

input, .form-control{
  width: 60%;
  margin-left: 280px;
  margin-top: 0;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 30%;
  margin-left: 350px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

